<nav class="bg-[#8B4513] p-3 shadow-md">
  <div class="container mx-auto flex justify-between items-center max-w-7xl">
    <a
      href="/"
      class="text-white text-xl md:text-2xl lg:text-3xl font-bold ml-4 lg:ml-0"
      >Learn Hanja</a
    >

    <button id="menu-toggle" class="text-white text-2xl lg:hidden absolute right-8">
        <i class="fas fa-bars"></i>
    </button>

    <ul id="nav-menu" class="hidden lg:flex space-x-10 items-center mx-auto">
        <li>
            <a href="/" class="text-xl text-white hover:text-yellow-400">홈</a>
        </li>
        <li>
            <a href="/" class="text-xl text-white hover:text-yellow-400">나만의 단어장</a>
        </li>
        <li>
            <a href="/" class="text-xl text-white hover:text-yellow-400">한자 AI</a>
        </li>
        <li>
            <a href="/" class="text-xl text-white hover:text-yellow-400">문의하기</a>
        </li>
    </ul>

    <div class="hidden lg:flex space-x-4 mr-10">
        <a href="login.html" id="login-button" class="border-2 border-white bg-[#8B4513] text-white font-semibold px-6 py-2 rounded-lg hover:bg-white hover:text-[#8B4513] transition duration-300">로그인</a>
        <a href="signup.html" id="signup-button" class="border-2 border-white bg-[#8B4513] text-white font-semibold px-6 py-2 rounded-lg hover:bg-white hover:text-[#8B4513] transition duration-300">회원가입</a>

    </div>
  </div>
</nav>
